@model ClipWithCommentsViewModel

<div class="is-danger" asp-validation-summary="All"></div>
<div class="content">
    <button class="button is-primary modal-button" id="showModal">
        Send a Comment
    </button>
</div>
<form asp-action="SendComment" asp-controller="Clips" method="post">
    <input type="hidden" asp-for="Id" />
    <input type="hidden" asp-for="ReturnUrl" value="@Context.Request.Path" />
    <div class="modal">
        <div class="modal-background"></div>
        <div class="modal-card">
            <header class="modal-card-head">
                <p class="modal-card-title">New Comment</p>
            </header>
            <section class="modal-card-body">
                <textarea asp-for="NewComment.Message" class="textarea"></textarea>
                <span asp-validation-for="NewComment.Message" class="is-danger"></span>
            </section>
            <footer class="modal-card-foot">
                <button type="submit" class="button is-primary">Send Comment</button>
                <button type="button" class="modal-close" aria-label="close">Close</button>
            </footer>
        </div>
    </div>
</form>

<script type="text/javascript">
    $("#showModal").click(function () {
        $(".modal").addClass("is-active");
    });

    $(".modal-close").click(function () {
        $(".modal").removeClass("is-active");
    });

    $(".modal-background").click(function () {
        $(".modal").removeClass("is-active");
    });
</script>