
<div class="is-danger" asp-validation-summary="All"></div>

<div class="tabs is-centered">
    <ul>
        <li class="is-active" id="user-clips-tab"><a onClick="switchToUserClips()" href="#user-clips" aria-controls="user-clips" aria-selected="true">Audio Clips</a></li>
        <li id="user-settings-tab"><a onClick="switchToUserSettings()" href="#user-settings" aria-controls="user-home" aria-selected="false">Settings</a></li>
        <li id="user-notify-tab"><a onClick="switchToUserNotify()" href="#user-notify" aria-controls="user-notify" aria-selected="false">Notifications</a></li>
        <li id="user-account-tab"><a onClick="switchToUserAccount()" href="#user-account" aria-controls="user-account" aria-selected="false">Account</a></li>
    </ul>
</div>

<div id="user-clips" aria-labelledby="user-clips-tab">
    @await Component.InvokeAsync("UserClips", Model)
</div>
<div class="is-hidden" id="user-settings" aria-labelledby="user-settings-tab">
    @await Component.InvokeAsync("UserSettings", Model)
</div>
<div class="is-hidden" id="user-notify" aria-labelledby="user-notify-tab">
    @await Component.InvokeAsync("UserNotifications", Model)
</div>
<div class="is-hidden" id="user-account" role="tabpanel" aria-labelledby="user-account-tab">
    @await Component.InvokeAsync("UserAccount", Model)
</div>


<script type="text/javascript">

    function switchToUserClips() {
        removeActive();
        hideAll();
        $("#user-clips-tab").addClass("is-active");
        $("#user-clips").removeClass("is-hidden");
    }

    function switchToUserSettings() {
        removeActive();
        hideAll();
        $("#user-settings-tab").addClass("is-active");
        $("#user-settings").removeClass("is-hidden");
    }

    function switchToUserNotify() {
        removeActive();
        hideAll();
        $("#user-notify-tab").addClass("is-active");
        $("#user-notify").removeClass("is-hidden");
    }

    function switchToUserAccount() {
        removeActive();
        hideAll();
        $("#user-account-tab").addClass("is-active");
        $("#user-account").removeClass("is-hidden");
    }

    function removeActive() {
        $("li").each(function () {
            $(this).removeClass("is-active");
        });
    }

    function hideAll() {
        $("#user-clips").addClass("is-hidden");
        $("#user-settings").addClass("is-hidden");
        $("#user-notify").addClass("is-hidden");
        $("#user-account").addClass("is-hidden");
    }
</script>