
@{
    ViewData["Title"] = "ViewSettings";
}

@if (TempData["message"] != null)
{
    <div class="alert alert-success alert-dismissible fade show" role="alert">
        <strong>@TempData["message"]</strong>
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
}
<ul class="nav nav-pills mb-3" id="user-tab" role="tablist">
    <li class="nav-item">
        <a class="nav-link active" id="user-home-tab" data-toggle="tab" href="#user-home" role="tab" aria-controls="user-home" aria-selected="true">Settings</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" id="user-notify-tab" data-toggle="tab" href="#user-notify" role="tab" aria-controls="user-notify" aria-selected="false">Notifications</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" id="user-account-tab" data-toggle="tab" href="#user-account" role="tab" aria-controls="user-account" aria-selected="false">Account</a>
    </li>
</ul>
<div class="tab-content" id="user-tabContent">
    <div class="tab-pane fade show active" id="user-home" role="tabpanel" aria-labelledby="user-home-tab">
        @await Html.PartialAsync("_UserSettings")
    </div>
    <div class="tab-pane fade" id="user-notify" role="tabpanel" aria-labelledby="user-notify-tab">
        @await Html.PartialAsync("_UserNotifications")
    </div>
    <div class="tab-pane fade" id="user-account" role="tabpanel" aria-labelledby="user-account-tab">
        @await Html.PartialAsync("_UserAccount")
    </div>
</div>