@model FileUploadView
@{
    Layout = "_Layout";
}

<section class="section">
    <form method="post" enctype="multipart/form-data" asp-controller="Settings" asp-action="UploadAudio" id="myform" acc>
        <div class="content">
            <div class="field">
                <label class="label">Title of Audio Clip</label>
                <input asp-for="Title" class="input" />
                <span asp-validation-for="Title" class="has-text-danger"></span>
            </div>
            <div class="field">
                <label class="label">Content Creator's Name</label>
                <input asp-for="ContentCreator" class="input" />
                <span asp-validation-for="ContentCreator" class="has-text-danger"></span>
            </div>
            <div class="field">
                <label class="label">Content Platform</label>
                <div class="control">
                    <div class="select">
                        <select asp-for="ContentPlatform" asp-items="Html.GetEnumSelectList<ContentPlatform>()"></select>
                    </div>
                </div>
                <span asp-validation-for="ContentPlatform" class="has-text-danger"></span>
            </div>
            <div class="field">
                <div class="file has-name">
                    <label class="file-label">
                        <input class="file-input" type="file" accept="audio/mpeg" id="file" name="formFile" />
                        <span class="file-cta">
                            <span class="file-icon">
                                <i class="fas fa-upload"></i>
                            </span>
                            <span class="file-label">
                                Choose a file...
                            </span>
                        </span>
                        <span class="file-name" id="filename"></span>
                        <span asp-validation-for="formFile" class="has-text-danger"></span>
                    </label>
                </div>
            </div>
        </div>
        <div class="field">
            <div class="control">
                <input class="button is-link" type="submit" value="Upload" />
            </div>
        </div>
    </form>
</section>

<script type="text/javascript">
    $( "#myform" ).validate({
      rules: {
        field: {
          required: true,
          accept: "audio/*"
        }
      }
    });
    var file = document.getElementById("file");
    file.onchange = function () {
        if (file.files.length > 0)
        {
            document.getElementById('filename').innerHTML = file.files[0].name;
        }
    };
</script>
