@model ClipWithCommentsViewModel

<div class="text-danger" asp-validation-summary="All"></div>
<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#newCommentCenter">
    Send a Comment
</button>

<form asp-action="SendComment" asp-controller="Clips" method="post">
    <input type="hidden" asp-for="Id" />
    <input type="hidden" asp-for="ReturnUrl" value="@Context.Request.Path" />
    <div class="modal fade" id="newCommentCenter" tabindex="-1" role="dialog" aria-labelledby="ModalCenterComment" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="ModalCenterComment">New Comment</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="row mx-md-n5">
                        <div class="col px-md-5">
                            <div class="form-group p-3 border bg-light">
                                <label asp-for="NewComment.Message"></label>
                                <div><span asp-validation-for="NewComment.Message" class="text-danger"></span></div>
                                <textarea asp-for="NewComment.Message" class="form-control"></textarea>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary">Send Comment</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>