@model ClipWithCommentsViewModel
@{

    Layout = "_Layout";
}


<h1>@Model.Title</h1>

<audio id="player" controls>
    <source src="~/clips/@Model.FileName" type="audio/mp3" />
</audio>

@if (SignInManager.IsSignedIn(User))
{
    <partial name="_NewComment" />
}

@if (Model.Comments.Count() > 0)
{
    @foreach (var comment in Model.Comments)
    {
        <p>@comment.Message</p>
    }
}

<script src="https://cdn.plyr.io/3.5.2/plyr.js"></script>
<script>
    const player = new Plyr('#player', {
        volume: '0.5'
    });
</script>