@model Clips
<div class="row">
    <div class="large-4 medium-6 small-12 large-centered medium-centered columns">
        <div id="flat-black-player-container">
            <div id="player-screen">
                <div id="player-progress-bar-container">
                    <progress id="song-played-progress" class="amplitude-song-played-progress"></progress>
                    <progress id="song-buffered-progress" class="amplitude-buffered-progress" value="0"></progress>
                </div>
                <div id="player-middle">
                    <div id="time-container">
                        <span class="amplitude-current-time time-container"></span>
                        <span class="amplitude-duration-time time-container"></span>
                    </div>
                    <div id="meta-container">
                        <span data-amplitude-song-info="name" class="song-name"></span>

                        <div class="song-artist-album">
                            <a href="" class="text-light"><span data-amplitude-song-info="artist"></span></a>
                        </div>
                    </div>
                </div>
                <div id="player-bottom">
                    <div id="control-container">
                        <div id="shuffle-container">
                        </div>
                        <div id="prev-container">
                        </div>
                        <div id="play-pause-container">
                            <div class="amplitude-play-pause" id="play-pause"></div>
                        </div>
                        <div id="next-container">
                        </div>
                        <div id="repeat-container">
                        </div>
                    </div>
                    <div id="volume-container">
                        <img src="/img/volume.svg" /><input type="range" class="amplitude-volume-slider" step=".1" />
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    Amplitude.init({
        "bindings": {
            32: 'play_pause'
        },
        "songs": [
            {
                "name": "@Model.Title",
                "artist": "@Model.ContentCreator",
                "url": "/clips/@Model.FileName"
            }
        ]
    });
</script>