
@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<a asp-controller="Account" asp-action="Login">Login</a>
<a asp-controller="Account" asp-action="Logout">Logout</a>
<a asp-controller="Account" asp-action="Register">Register new user</a>
<a asp-controller="Test" asp-action="Index">Test after logged in!</a>
