@model UserProfileViewModel
@{
    Layout = "_Layout";
}

<div class="d-flex p-2 bd-highlight">
    <div class="p-2 bd-highlight">
        <p>@Model.UserName</p>
        <p>Number of members following you : @Model.NumberOfFollowers</p>
        <p>Following : @Model.NumOfMembersYouFollow members</p>
        <p>Number of published clips : @Model.NumberOfPublishedClips</p>
    </div>
</div>