@model UserSettingsViewModel

<div class="is-danger" asp-validation-summary="All"></div>

<form asp-action="UpdateSettings" asp-controller="Settings" method="post">
    <input type="hidden" asp-for="Id" />

    <div class="tile is-ancestor">
        <div class="tile is-vertical is-8">
            <div class="tile">
                <div class="tile is-parent">
                    <article class="tile is-child notification">
                        <label class="label">Name</label>
                        <input asp-for="Name" class="input" />
                        <span asp-validation-for="Name" class="is-danger"></span>
                    </article>
                </div>
                <div class="tile is-parent">
                    <article class="tile is-child notification">
                        <label class="label">Gender</label>
                        <div class="control">
                            <div class="select">
                                <select id="Gender" asp-for="Gender">
                                    <option>-- Select Gender --</option>
                                    <option value="male">Male</option>
                                    <option value="female">Female</option>
                                    <option value="secret">Prefer not to say</option>
                                </select>
                            </div>
                        </div>
                    </article>
                </div>
            </div>
        </div>
    </div>
    <div class="tile is-ancestor">
        <div class="tile is-vertical is-8">
            <div class="tile">
                <div class="tile is-parent">
                    <article class="tile is-child notification">
                        <label class="label">
                            <input type="checkbox" asp-for="@Model.AllowMessages" />
                            Allow Private Messages
                        </label>
                    </article>
                </div>
                <div class="tile is-parent">
                    <article class="tile is-child notification">
                        <label class="label">Date of Birth</label>
                        <input type="text" class="input" asp-for="DateOfBirth" data-date-format="yyyy-mm-dd" id="datepicker" />
                    </article>
                </div>
            </div>
        </div>
    </div>
    <div class="tile is-ancestor">
        <div class="tile is-vertical is-8">
            <div class="tile">
                <div class="tile is-parent">
                    <article class="tile is-child notification">
                        <label class="label">Location</label>
                        <input asp-for="Location" class="input" />
                        <span asp-validation-for="Location" class="is-danger"></span>
                    </article>
                </div>
                <div class="tile is-parent">
                    <article class="tile is-child notification">
                        <label class="label">Biography</label>
                        <textarea asp-for="Biography" class="textarea" rows="10"></textarea>
                        <span asp-validation-for="Biography" class="is-danger"></span>
                    </article>
                </div>
            </div>
        </div>
    </div>
    <div class="tile is-ancestor">
        <div class="tile is-vertical is-8">
            <div class="tile">
                <div class="tile is-parent">
                    <article class="tile is-child notification">
                        <label class="label"><i class="fab fa-twitter-square fa-2x"></i></label>
                        <input asp-for="Twitter" class="input" />
                        <span asp-validation-for="Twitter" class="is-danger"></span>
                    </article>
                </div>
                <div class="tile is-parent">
                    <article class="tile is-child notification">
                        <label class="label"><i class="fab fa-facebook-square fa-2x"></i></label>
                        <input asp-for="Facebook" class="input" />
                        <span asp-validation-for="Facebook" class="is-danger"></span>
                    </article>
                </div>
            </div>
        </div>
    </div>
    <div class="tile is-ancestor">
        <div class="tile is-vertical is-8">
            <div class="tile">
                <div class="tile is-parent">
                    <article class="tile is-child notification">
                        <label class="label"><i class="fab fa-instagram fa-2x"></i></label>
                        <input asp-for="Instagram" class="input" />
                        <span asp-validation-for="Instagram" class="is-danger"></span>
                    </article>
                </div>
                <div class="tile is-parent">
                    <article class="tile is-child notification">
                        <label class="label"><i class="fab fa-tumblr fa-2x"></i></label>
                        <input asp-for="Tumblr" class="input" />
                        <span asp-validation-for="Tumblr" class="is-danger"></span>
                    </article>
                </div>
            </div>
        </div>
    </div>
    <div class="tile is-ancestor">
        <div class="tile is-vertical is-8">
            <div class="tile">
                <div class="tile is-parent">
                    <article class="tile is-child notification">
                        <label class="label"><i class="fab fa-reddit-square fa-2x"></i></label>
                        <input asp-for="Reddit" class="input" />
                        <span asp-validation-for="Reddit" class="is-danger"></span>
                    </article>
                </div>
                <div class="tile is-parent">
                    <article class="tile is-child notification">
                        <label class="label"><i class="fab fa-spotify fa-2x"></i></label>
                        <input asp-for="Spotify" class="input" />
                        <span asp-validation-for="Spotify" class="is-danger"></span>
                    </article>
                </div>
            </div>
        </div>
    </div>
    <div class="tile is-ancestor">
        <div class="tile is-vertical is-8">
            <div class="tile">
                <div class="tile is-parent">
                    <article class="tile is-child notification">
                        <label class="label"><i class="fab fa-wordpress fa-2x"></i></label>
                        <input asp-for="Wordpress" class="input" />
                        <span asp-validation-for="Wordpress" class="is-danger"></span>
                    </article>
                </div>
                <div class="tile is-parent">
                    <article class="tile is-child notification">
                        <label class="label"><i class="fab fa-twitch fa-2x"></i></label>
                        <input asp-for="Twitch" class="input" />
                        <span asp-validation-for="Twitch" class="is-danger"></span>
                    </article>
                </div>
            </div>
        </div>
    </div>
    <div class="tile is-ancestor">
        <div class="tile is-vertical is-8">
            <div class="tile">
                <div class="tile is-parent">
                    <article class="tile is-child notification">
                        <label class="label">Mixer</label>
                        <input asp-for="Mixer" class="input" />
                        <span asp-validation-for="Mixer" class="is-danger"></span>
                    </article>
                </div>
                <div class="tile is-parent">
                    <article class="tile is-child notification">
                        <label class="label"><i class="fab fa-youtube fa-2x"></i></label>
                        <input asp-for="Youtube" class="input" />
                        <span asp-validation-for="Youtube" class="is-danger"></span>
                    </article>
                </div>
            </div>
        </div>
    </div>
    <button class="button is-primary" type="submit">Update Settings</button>
</form>

<script type="text/javascript">
    $(document).ready(function () {
        $('#datepicker').duDatepicker({format: 'yyyy-mm-dd', theme: 'purple'});
    });
</script>