@model PasswordViewModel

<section class="section">
    <div class="container">
        <form asp-action="ChangePassword" method="post">
            <div asp-validation-summary="All" class="is-danger"></div>
            <div class="field">
                <label class="label">Old Password</label>
                <input asp-for="OldPassword" class="input" />
                <span asp-validation-for="OldPassword" class="is-danger"></span>
            </div>
            <div class="field">
                <label class="label">New Password</label>
                <input asp-for="NewPassword" class="input" />
                <span asp-validation-for="NewPassword" class="is-danger"></span>
            </div>
            <div class="field">
                <label class="label">Confirm Password</label>
                <input asp-for="ConfirmPassword" class="input" />
                <span asp-validation-for="ConfirmPassword" class="is-danger"></span>
            </div>
            <div class="field">
                <button type="submit" class="button is-primary">Submit</button>
            </div>
        </form>
    </div>
</section>