@model ResetPasswordViewModel
@{
    ViewData["Title"] = "Reset Password";
}

<h1>@ViewData["Title"]</h1>
<h4>Reset your password.</h4>
<hr />
<section class="section">
    <div class="container">
        <form method="post">
            <div asp-validation-summary="All" class="is-danger"></div>
            <input asp-for="Code" type="hidden" />
            <div class="field">
                <label class="label">Email</label>
                <input asp-for="Email" class="input" />
                <span asp-validation-for="Email" class="is-danger"></span>
            </div>
            <div class="field">
                <label class="label">Password</label>
                <input asp-for="Password" class="input" />
                <span asp-validation-for="Password" class="is-danger"></span>
            </div>
            <div class="field">
                <label class="label">Confirm Password</label>
                <input asp-for="ConfirmPassword" class="input" />
                <span asp-validation-for="ConfirmPassword" class="is-danger"></span>
            </div>
            <button type="submit" class="button is-primary">Reset</button>
        </form>
    </div>
</section>